{% extends 'staff/staff.html' %}

{% block content %}
<div id="order_details">

    <div id="customer_info">
        <h2>Customer Information</h2>
        <p><strong>Name:</strong> {{ customer.first_name }} {{ customer.last_name }}</p>
        <p><strong>Email:</strong> {{ customer.email }}</p>
        <p><strong>Mobile Number:</strong> {{ customer_profile.mobile_number }}</p>
        <p><strong>Address:</strong> {{ customer_profile.address }}</p>
        <p><strong>Pincode:</strong> {{ customer_profile.pincode }}</p>
    </div>

    <div id="order_details_list">
        <h2>Order Details</h2>
        <table>
            <thead>
            <tr>
                <th>Item ID</th>
                <th>Book Title</th>
                <th>Book Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
            </thead>
            <tbody>
            {% for item in order_details_list %}
            <tr>
                <td>{{ item.item_id }}</td>
                <td>{{ item.book_title }}</td>
                <td>₹{{ item.book_price }}</td>
                <td>{{ item.quantity }}</td>
                <td>₹{{ item.total_price }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No order details available.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="order_summary">
        <h2>Order Summary</h2>
        <p><strong>Total Amount:</strong> ₹{{ total_amount }}</p>
        <p><strong>Order Status:</strong> {{ order.order_status }}</p>
    </div>

    <div id="status_update">
        <h2>Update Order Status</h2>
        <form method="POST" action="{% url 'cart:update_order_status' order.id%}">
            {% csrf_token %}
            <label for="order_status">Change Status:</label>
            <select id="order_status" name="order_status">
                <option value="pending" {% if order_status == 'pending' %}selected{% endif %}>Pending</option>
                <option value="processing" {% if order_status == 'processing' %}selected{% endif %}>processing</option>
                <option value="shipped" {% if order_status == 'shipped' %}selected{% endif %}>Shipped</option>
                <option value="delivered" {% if order_status == 'delivered' %}selected{% endif %}>Delivered</option>
                {% if user_profile.roll  == 'Manger' %}
                <option value="cancelled" {% if order_status == 'cancelled' %}selected{% endif %}>cancelled</option>
                {% endif %}
            </select>
            <button type="submit" class="btn btn-update-status">Update Status</button>
        </form>
    </div>

</div>
{% endblock %}
