{% extends 'staff/staff.html' %}

{% block content %}
<div id="views_books">
    <h1>View All Book Details</h1>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for book in book_list %}
        <tr>
            <td>{{ book.title }}</td>
            <td>₹{{ book.price }}</td>
            <td>{{ book.quantity }}</td>
            <td>
                <a href="{% url 'book:remove_book' book.id %}" class="btn btn-add" title="Add More Details">Remove
                    Book</a>

            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No books available.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}