{% extends 'staff/staff.html' %}

{% block content %}
<div id="orders_view">
    <h1>Review List</h1>
    <table>
        <thead>
        <tr>
            <th>Review ID</th>
            <th>User Details</th>
            <th>Book Title</th>
            <th>Book Author</th>
            <th>Review Title</th>
            <th>Review Content</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for rating in review_list %}
        <tr>
            <td>{{ rating.id }}</td>
            <td>{{ rating.user__first_name }} {{ rating.user__last_name }}</td>
            <td>{{ rating.book__title }}</td>
            <td>{{ rating.book__author }}</td>
            <td>{{ rating.review_title }}</td>
            <td>{{ rating.review_text }}</td>
            <td>
                {% if not rating.is_published %}
                <a href="{% url 'book:publish_book_review' rating.id %}" class="btn btn-update">Publish</a>
                {% endif %}
                <a href="{% url 'book:delete_book_review' rating.id %}" class="btn btn-update">Remove</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No reviews available.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Pagination controls -->
    <div class="pagination">
        <span class="step-links">
            {% if review_list.has_previous %}
                <a href="?page=1" class="btn btn-update">&laquo; First</a>
                <a href="?page={{ review_list.previous_page_number }}" class="btn btn-update">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ review_list.number }} of {{ review_list.paginator.num_pages }}.
            </span>

            {% if review_list.has_next %}
                <a href="?page={{ review_list.next_page_number }}" class="btn btn-update">Next</a>
                <a href="?page={{ review_list.paginator.num_pages }}" class="btn btn-update">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
