{% extends 'staff/staff.html' %}

{% block content %}
<div id="views_books">
    <h1>View All Book Details</h1>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Discount</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for book in book_list %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>₹{{ book.price }}</td>
            <td>{{ book.quantity }}</td>
            <td>{{ book.discount }} %</td>
            <td>
                <a href="{% url 'book:add_book_more_info' book.id %}" class="btn btn-add" title="Add More Details">Add
                    More Details</a>
                <a href="{% url 'book:update_book' book.id %}" class="btn btn-update" title="Update Details">Update
                    Details</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No books available.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Pagination controls -->
<div class="pagination">
    <span class="step-links">
        {% if book_list.has_previous %}
            <a href="?page=1" class="btn btn-update">&laquo; First</a>
            <a href="?page={{ book_list.previous_page_number }}" class="btn btn-update">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ book_list.number }} of {{ book_list.paginator.num_pages }}.
        </span>

        {% if book_list.has_next %}
            <a href="?page={{ book_list.next_page_number }}" class="btn btn-update">Next</a>
            <a href="?page={{ book_list.paginator.num_pages }}" class="btn btn-update">Last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
