<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manger Dashboard</title>
</head>
<body>
<div>
    <!-- book management  -->
    <a href="">Add book</a>
    <a href="">Remove book</a>
    <a href="">update</a>
    <a href="">view_book</a>
    <!-- stock management  -->
    <a href="">Add stock</a>
    <a href="">Remove stock</a>
    <a href="">view stock </a>
    <!-- order management -->
    <a href="">view order</a>
    <a href="">cancel order</a>
    <a href="">change order status</a>
    <!-- report -->
    <a href="">sales report</a>
    <a href="">Inventory Report</a>
</div>
</body>
</html>