{% block page_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'bookstore/css/smilier_books.css' %}">
{% endblock %}
<div id="similar-books">
    <div class="book-container">
        <div class="book-card">
            <img src="https://marketplace.canva.com/EAFPHUaBrFc/1/0/1003w/canva-black-and-white-modern-alone-story-book-cover-QHBKwQnsgzs.jpg"
                 alt="Book Cover">
            <div class="book-info">
                <p class="book-title">A Banquet of Philosophical and Devotional Hymns of Abhinavaguptacarya</p>
                <p class="book-author">by Moti Lal Pandit (Author), Dev Publishers and Distributors (Publisher)</p>
                <div class="book-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <div class="price-container">
                    <p class="discount-price">₹795</p>
                    <p class="original-price">₹995</p>
                    <p class="discount-percentage">(20% Off)</p>
                </div>
                <button class="add-to-cart-button">
                    <i class="fa fa-shopping-cart"></i> Add to cart
                </button>
            </div>
        </div>
    </div>
    <div class="book-container">
        <div class="book-card">
            <img src="https://marketplace.canva.com/EAFPHUaBrFc/1/0/1003w/canva-black-and-white-modern-alone-story-book-cover-QHBKwQnsgzs.jpg"
                 alt="Book Cover">
            <div class="book-info">
                <p class="book-title">A Banquet of Philosophical and Devotional Hymns of Abhinavaguptacarya</p>
                <p class="book-author">by Moti Lal Pandit (Author), Dev Publishers and Distributors (Publisher)</p>
                <div class="book-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <div class="price-container">
                    <p class="discount-price">₹795</p>
                    <p class="original-price">₹995</p>
                    <p class="discount-percentage">(20% Off)</p>
                </div>
                <button class="add-to-cart-button">
                    <i class="fa fa-shopping-cart"></i> Add to cart
                </button>
            </div>
        </div>
    </div>
    <div class="book-container">
        <div class="book-card">
            <img src="https://marketplace.canva.com/EAFPHUaBrFc/1/0/1003w/canva-black-and-white-modern-alone-story-book-cover-QHBKwQnsgzs.jpg"
                 alt="Book Cover">
            <div class="book-info">
                <p class="book-title">A Banquet of Philosophical and Devotional Hymns of Abhinavaguptacarya</p>
                <p class="book-author">by Moti Lal Pandit (Author), Dev Publishers and Distributors (Publisher)</p>
                <div class="book-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <div class="price-container">
                    <p class="discount-price">₹795</p>
                    <p class="original-price">₹995</p>
                    <p class="discount-percentage">(20% Off)</p>
                </div>
                <button class="add-to-cart-button">
                    <i class="fa fa-shopping-cart"></i> Add to cart
                </button>
            </div>
        </div>
    </div>
 </div>